@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.ttf') format('truetype');
}


.container {
  max-width: 20.2vw;
  margin: 50px auto;
  padding: 12px;
  margin-bottom: -33vh;
  z-index: 10;
}

div {
  display: flex;
  align-items: left;
  justify-content: left;
}

p {
  font-size: 03.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.8em;
  word-spacing: 0.1rem;
  line-height: 2rem;
  text-transform: none;
  text-decoration: none;
  color: #333;
}


