@font-face {
  font-family: 'InterVariable';
  src: url('Inter-VariableFont.ttf') format('truetype');
}


.p {
  font-family: 'InterVariable', sans-serif;
  font-variation-settings: "wght" 120, "wdth" 480;
  font-weight: lighter;
  font-size: 10vh;
  letter-spacing: 0.2vh;
  word-spacing: 1vh;
  line-height: 5vh;
  text-transform: none;
  text-decoration: none;
  color: #333;
}



